## author: Uday Routhu

### Project 3 - Part 2 Exploratory Data Analysis

### Imports

In [2]:
import os, time,json
import tmdbsimple as tmdb 
import pandas as pd
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_results_combined.csv.gz']

#### Load final_tmdb_data_2000.csv.gz

In [3]:
# Load JSON file with a specific orientation
df1_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')

In [4]:
df1_2000 = df1_2000.iloc[1:]

In [5]:
df1_2000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 1 to 1458
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1458 non-null   object
 1   adult                  1458 non-null   float64
 2   backdrop_path          1458 non-null   object
 3   belongs_to_collection  0 non-null      float64
 4   budget                 1458 non-null   float64
 5   genres                 1458 non-null   object
 6   homepage               1458 non-null   object
 7   id                     1458 non-null   float64
 8   original_language      1458 non-null   object
 9   original_title         1458 non-null   object
 10  overview               1458 non-null   object
 11  popularity             1458 non-null   float64
 12  poster_path            1458 non-null   object
 13  production_companies   1458 non-null   object
 14  production_countries   1458 non-null   object
 15  release_date           1458 non-null   object
 16  revenue                1458 non-null   float64
 17  runtime                1458 non-null   float64
 18  spoken_languages       1458 non-null   object
 19  status                 1458 non-null   object
 20  tagline                1458 non-null   object
 21  title                  1458 non-null   object
 22  video                  1458 non-null   float64
 23  vote_average           1458 non-null   float64
 24  vote_count             1458 non-null   float64
 25  certification          1458 non-null   object
dtypes: float64(10), object(16)
memory usage: 296.3+ KB

#### Load final_tmdb_data_2001.csv.gz

In [6]:
# Load JSON file with a specific orientation
df2_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [7]:
df2_2001 = df2_2001.iloc[1:]

In [8]:
df2_2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1577 entries, 1 to 1577
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1577 non-null   object
 1   adult                  1577 non-null   float64
 2   backdrop_path          1577 non-null   object
 3   belongs_to_collection  0 non-null      float64
 4   budget                 1577 non-null   float64
 5   genres                 1577 non-null   object
 6   homepage               1577 non-null   object
 7   id                     1577 non-null   float64
 8   original_language      1577 non-null   object
 9   original_title         1577 non-null   object
 10  overview               1577 non-null   object
 11  popularity             1577 non-null   float64
 12  poster_path            1577 non-null   object
 13  production_companies   1577 non-null   object
 14  production_countries   1577 non-null   object
 15  release_date           1577 non-null   object
 16  revenue                1577 non-null   float64
 17  runtime                1577 non-null   float64
 18  spoken_languages       1577 non-null   object
 19  status                 1577 non-null   object
 20  tagline                1577 non-null   object
 21  title                  1577 non-null   object
 22  video                  1577 non-null   float64
 23  vote_average           1577 non-null   float64
 24  vote_count             1577 non-null   float64
 25  certification          1577 non-null   object
dtypes: float64(10), object(16)
memory usage: 320.5+ KB

#### Concatenate the data into 1 dataframe for the remainder of the analysis

In [9]:
# Assuming df1_2000 and df2_2001 are your DataFrames
combined_df = pd.concat([df1_2000, df2_2001], ignore_index=True)

In [10]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                3035 non-null   object
 1   adult                  3035 non-null   float64
 2   backdrop_path          3035 non-null   object
 3   belongs_to_collection  0 non-null      float64
 4   budget                 3035 non-null   float64
 5   genres                 3035 non-null   object
 6   homepage               3035 non-null   object
 7   id                     3035 non-null   float64
 8   original_language      3035 non-null   object
 9   original_title         3035 non-null   object
 10  overview               3035 non-null   object
 11  popularity             3035 non-null   float64
 12  poster_path            3035 non-null   object
 13  production_companies   3035 non-null   object
 14  production_countries   3035 non-null   object
 15  release_date           3035 non-null   object
 16  revenue                3035 non-null   float64
 17  runtime                3035 non-null   float64
 18  spoken_languages       3035 non-null   object
 19  status                 3035 non-null   object
 20  tagline                3035 non-null   object
 21  title                  3035 non-null   object
 22  video                  3035 non-null   float64
 23  vote_average           3035 non-null   float64
 24  vote_count             3035 non-null   float64
 25  certification          3035 non-null   object
dtypes: float64(10), object(16)
memory usage: 616.6+ KB

In [11]:
# Filter out movies with non-zero budget OR non-zero revenue
valid_financial_movies = combined_df[(combined_df['budget'] > 0) | (combined_df['revenue'] > 0)]

# Count the number of movies with valid financial information
num_valid_financial_movies = len(valid_financial_movies)

print("Number of movies with valid financial information:", num_valid_financial_movies)

Number of movies with valid financial information: 3035

In [12]:
# Count of movies per certification category
certification_counts = combined_df['certification'].value_counts()
print("Count of Movies per Certification Category:\n", certification_counts)

Count of Movies per Certification Category:
 PG    3035
Name: certification, dtype: int64

In [13]:
# Group by certification category and calculate average budget
avg_budget_by_cert = combined_df.groupby('certification')['budget'].mean()
print("Average Budget per Certification Category:\n", avg_budget_by_cert)

Average Budget per Certification Category:
 certification
PG    50000000.0
Name: budget, dtype: float64

In [14]:
average_budget_by_certification = combined_df.groupby('certification')['budget'].mean()
print(average_budget_by_certification)

certification
PG    50000000.0
Name: budget, dtype: float64

#### The file name should be "tmdb_results_combined.csv.gz"

In [ ]:
combined_df.to_csv('Data/tmdb_results_combined.csv.gz', compression='gzip', index=False)